<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <!-- Don't display uninitialised Vue.js content-->
    <style>
        [v-cloak] {
          display: none;
        }
    </style>
</head>
<body>
<div id="labsheet" v-cloak>
    <div id="div-form-setup">
        <label>I want to make labels...</label>
        <label for="usefmt"><input name="usefmt" id="usefmt" v-model="mode" value="format" type="radio"/>using an ID format/start/end.</label>
        <label for="usetable"><input name="usetable" id="usetable" v-model="mode" value="table" type="radio"/>by directly entering IDs into a table.</label>

        <label for="label-type">Select label type</label>
        <select name="label-type" id="label-type" v-model="labelType" @change="labelTypeUpdate()">
            <option v-for="(ltype, index) in labelTypes" :value="index">{{ltype.title}}</option>
        </select>

        <label v-if="labelType !== false" for="layout">Select label layout</label>
        <select v-if="labelType !== false" name="layout" id="layout" v-model="layout">
            <option v-for="(layout, index) in labelTypes[labelType].layouts" :value="layout">{{layout}}</option>
        </select>

        <label for="border">Print border?</label>
        <input name="border" id="border" v-model="border" type="checkbox">
    </div>
    <div id="div-format" v-if="mode=='format' && labelType !== false">
        <label for="id_fmt">ID Format (e.g <code>K{:04d}</code> -&gt; K0001)</label>
        <input name="id_fmt" id="id_fmt" v-model="id_format" type="text">

        <label for="id_start">First ID</label>
        <input name="id_start" id="id_start" v-model="id_start" type="text">

        <label for="id_end">Last ID</label>
        <input name="id_end" id="id_end" v-model="id_end" type="text">

        <button @click="downloadPDF" id="downloadPDFfmt">Download Label File</button>
    </div>
    <div id="div-table" v-if="mode=='table' && labelType !== false">
        <label>Enter label texts, then</label> <button @click="downloadPDF" id="downloadPDFfmt">Download Label File</button>

        <table class="table">
            <tbody>
                <tr v-for="rowindex in nrow" style="backgroundColor: #eaeaea;">
                    <td v-for="colindex in ncol" style="width: 300px; padding: 0;"><input style="padding: 0;" v-model="cells[(rowindex-1) * ncol + (colindex-1)]"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<script src="./labelsheet.js"></script>
<script src="./extra.js"></script>
</body>
