<head>
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.Default.css" crossorigin=""/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.5.3/dist/MarkerCluster.css" crossorigin=""/>
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap5.css" crossorigin="" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.min.css" crossorigin="" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous"/>
    <script src="https://code.jquery.com/jquery-3.6.0.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.5.3/dist/leaflet.markercluster.js" crossorigin=""></script>
    <script src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive5.js"></script>
</head>
<body>

<div id="buttons" style="max-height: 30px">
    <button type="button" id="btnSwitchBasemap">Switch Basemap</button>
    <button type="button" id="btnFullMap">Maximise Map</button>
    <button type="button" id="btnHalfMap">Half-screen Map</button>
    <button type="button" id="btnNoMap">Minimise Map</button>
</div>

<div id="map" style="height: 60%;">
</div>

<div id="maintable" style="overflow: auto;">
<table id="table_id" class="display">
</table>
</div>

<script> 
var samples = {{samplejson}};

var map = L.map('map').setView([0, 0], 1);

var terrain_basemap = L.tileLayer('https://stamen-tiles-{s}.a.ssl.fastly.net/terrain-background/{z}/{x}/{y}{r}.{ext}', {
	attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a> &mdash; Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
	subdomains: 'abcd',
	minZoom: 0,
	maxZoom: 18,
	ext: 'png'
});

var osm_basemap = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
	maxZoom: 19,
	attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
});

var current_basemap = "terrain";

terrain_basemap.addTo(map);

var markers = L.markerClusterGroup();

samples 
    .filter(function (p) {
        return ('lat' in p && 'lng' in p);
    })
    .forEach(function(p) {
        var marker = L.marker([p.lat, p.lng]);
        marker.on('click', function (e) {
            //destroy any old popups that might be attached
            if (marker._popup != undefined) {
                marker.unbindPopup();
            }
            var pop = L.popup()
                .setLatLng(this._latlng)
                .setContent(`<a href="${p.id}.html"  target="_blank"><h1>${p.id}</h1></a>`)
                .openOn(map);
        });
        markers.addLayer(marker);
    });

map.addLayer(markers);
map.fitBounds(markers.getBounds());

var table = $('#table_id').DataTable({
    "responsive": true,
    "scrollY": "30%",
    "scrollCollapse": true,
    "paging": false,
    "data": samples,
    "columns": [
        { "data": "id", "title": "ID", "render": function (data, type, row, meta ) {
            return `<a href="${data}.html" target="_blank">${data}</a>`;     } },
        { "data": "lat", "title": "Latitude", "defaultContent": ""},
        { "data": "lng", "title": "Longitude", "defaultContent": ""},
        { "data": "species", "title": "Species", "defaultContent": ""}
    ]
});

$('#btnSwitchBasemap').on('click', function() {
    if (current_basemap == "terrain") {
        map.removeLayer(terrain_basemap);
        osm_basemap.addTo(map);
        current_basemap = "osm";
    } else {
        map.removeLayer(osm_basemap);
        terrain_basemap.addTo(map);
        current_basemap = "terrain";
    }
});

$('#btnFullMap').on('click', function () {
    $('#map').css({height: "95%", display: "block"});
    setTimeout(function(){ map.invalidateSize()}, 200);
});

$('#btnHalfMap').on('click', function () {
    $('#map').css({height: "60%", display: "block"})
    setTimeout(function(){ map.invalidateSize()}, 200);
});

$('#btnNoMap').on('click', function () {
    $('#map').css({display: "none"})
});
</script>

</body>
